<h1>Editing Container</h1>

<%= render 'form', container: @container %>

<br>
<div class="col-lg-3">
  <%= link_to 'Show', @container, class: "btn btn-success btn-lg" %>
  <%= link_to 'Back', containers_path, class: "btn btn-success btn-lg" %>
</div>