<h1>New Container</h1>

<%= render 'form', container: @container %>

<br>
<div class="container-back">
  <div class="col-sm-3">
    <%= link_to 'Back To Containers', containers_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
