<p id="notice"><%= notice %></p>

<div class="col-lg-8 col-lg-offset-2">
<h1>Items</h1>
<p>Locate your stuff because Mom is busy.</p>
<br>
</div>
<br>

<div class="col-lg-8 col-lg-offset-2">

  <% unless Item.exists? %>
      <p>No items to display!  Click the button to add a new container!</p>
  <% end %>

  <%= render 'table', items: @items %>


  <br>
</div>

<%= link_to 'Add A New Item', new_item_path(container_id: @container.try!(:id)), class: "btn btn-success btn-lg" %>
